<div class="pageheader">
  <h2><i class="fa fa-file-text-o"></i> 球会管理 <span>查看</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel panel-dark">
    <div class="panel-heading">
      <h4 class="panel-title">球会信息</h4>
    </div>
    <div class="panel-body panel-body-nopadding">
      <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'uuid' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @venue.uuid, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'venue.province' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @venue.city.province.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'venue.city' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @venue.city.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'venue.name' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @venue.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'venue.address' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @venue.address, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'venue.position' %></label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><%= brac_t 'venue.lng' %></span>
              <%= text_field_tag nil, @venue.longitude, readonly: true, class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><%= brac_t 'venue.lat' %></span>
              <%= text_field_tag nil, @venue.latitude, readonly: true, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'venue.description' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :description, @venue.description, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to '返回球会列表', cms_venues_path, class: 'btn btn-default' %>&nbsp;
      <%= link_to '编辑', edit_cms_venue_path(@venue), class: 'btn btn-primary' %>&nbsp;
      <div class="btn-group mt10">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          操作 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to '创建新球场', new_cms_venue_course_path(@venue) %></li>
        </ul>
      </div>&nbsp;
      <%= link_to '删除', [:cms, @venue], method: :delete, data: { confirm: '确定要删除吗？' }, class: 'btn btn-danger' %>
    </div>
  </div>
  <% @venue.courses.each do |course| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">球场 - <%= course.name %></h4>
    </div>
    <div class="panel-body panel-table">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="table-head-alt">
              <th><%= brac_t 'hole.name' %></th>
              <th><%= brac_t 'hole.par' %></th>
              <th><%= brac_t 'tee_box.red' %></th>
              <th><%= brac_t 'tee_box.white' %></th>
              <th><%= brac_t 'tee_box.blue' %></th>
              <th><%= brac_t 'tee_box.black' %></th>
              <th><%= brac_t 'tee_box.gold' %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% course.holes.each do |hole| %>
            <tr>
              <td><%= hole.name %></td>
              <td><%= content_tag 'a', "#{hole.par}", name: 'updateHolePar', data: { type: 'text', pk: hole.id, url: "/cms/holes/#{hole.id}/update_par", title: '请输入标准杆' } %></td>
              <% [:red, :white, :blue, :black, :gold].each do |color| %>
              <td>
                <% if hole.tee_boxes.send(color) %>
                <%= content_tag 'a', "#{hole.tee_boxes.send(color).distance_from_hole}", name: 'updateTeeBoxDistanceFromHole', data: { type: 'text', pk: hole.tee_boxes.send(color).id, url: "/cms/tee_boxes/#{hole.tee_boxes.send(color).id}/update_distance_from_hole", title: '请输入码数' } %>
                <% else %>

                <% end %>
              </td>
              <% end %>
              <td class="table-action">
                <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_cms_hole_path(hole) %>
                <%= link_to raw('<i class="fa fa-trash-o"></i>'), [:cms, course, hole], method: :delete, data: { confirm: '确定要删除吗？' } %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
     <%= link_to '编辑', edit_cms_course_path(course), class: 'btn btn-primary' %>&nbsp;
      <%= link_to '删除', [:cms, @venue, course], method: :delete, data: { confirm: '确定要删除吗？' }, class: 'btn btn-danger' %>
    </div>
  </div>
  <% end %>
</div>
<% content_for :javascript do %>
   <script>
    jQuery(document).ready(function(){
      $('#description').autosize();
      jQuery("[name='updateHolePar']").editable({
        display: function(value, response) {
          if(response != undefined) {
            $(this).html(response.message);
          }
        },
        ajaxOptions: {
          type: 'put',
          dataType: 'json'
        },
        success: function(response, newValue) {
          if(!response) {
            return "服务器错误，请重试";
          }
          if(response.success === false) {
            return response.message;
          }
        }
      });
      jQuery("[name='updateTeeBoxDistanceFromHole']").editable({
        display: function(value, response) {
          if(response != undefined) {
            $(this).html(response.message);
          }
        },
        ajaxOptions: {
          type: 'put',
          dataType: 'json'
        },
        success: function(response, newValue) {
          if(!response) {
            return "服务器错误，请重试";
          }
          if(response.success === false) {
            return response.message;
          }
        }
      });
    });
  </script>
<% end %>